.idea/
.vscode/
.venv*/
venv*/
.venv
.venv/
.venv/*
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/
config/*
!config/application.config.example
!config/application.py.example
migrations
migrations*/
migrations/*
migrations/
config/application.py
config/*
todo
data
functions
playground
logs
logs/*